
    <style media="screen">
body{
  background-color:
      <style media="screen">
  body{
    background-color: #2e475d;
  }

  hr
  {
    border-style: none;
    border-top: dotted;
    border-color: grey;
    height: 5px;
    width: 30%;
  }


      </style>
}

hr
{
  border-style: none;
  border-top: dotted;
  border-color: grey;
  height: 5px;
  width: 30%;
}
h3{
  font-family: sans-serif;
  color:#0b8484;
}
h1{
  color:#0b8484;
}
p{
  color: gray;

}

    </style>
